$font-family-base: 'Aeonik', sans-serif;
$headings-font-family: 'Aeonik', sans serif !important;

$font-size-base: 16;

$font-weight-normal: normal;

$font-weight-bold: 500;

$headings-font-weight: 500;

//$line-height-base: 2;

//$headings-line-height: 1.5;

$border-radius: 0;

$input-border-radius-lg: 0;
$input-padding-y-lg: 16;
$input-padding-x-lg: 16;
